{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <p>
                Document Management System is an organizational repository that enables workers to register, update and access relevant office corporate documents and records such as reports, memos, letters, contracts agreements, etc. (hereon referred to as corporate information). The need to find the right information at the right time becomes more and more critical. Electronic document management solutions deliver information more quickly and with more precision than traditional or manual filing systems and at a much lower cost. 
            </p>
            <p>
                As such, these systems have functionalities that automatically track documents as they are checked in and checked out, mange version control, and maintain audit trails of corporate information. These systems are primarily designed for and managed by records managers, and consequently developed according to the international best practice standard for records management principles.
        </p>
        </div>
    </div>
    
{% endblock %}