{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="card">
        <div class="card-header">
            <h5 class="card-title">Document List</h5>
        </div>
        <div class="card-body">
        <dl class="row">
            {% for obj in object_list %}
                <div class="col-md-8">
                   <a href="{% url 'docRecords:entry-detail' slug=obj.slug %}"><li>{{ obj }}</li></a> 
                </div>
            {% endfor %}
        </dl>  
    </div>
</div>
{% endblock %}





